<h1>
  Giffabet!
</h1>
<p>
  at the end of this web address, add '/<em>any single letter</em>' to see a letter animation!
</p>

<footer>
  <p>
    Thanks for checking it out!
  </p>
  <detail>
    For info on how to use this library, see the github README file. 
  </detail>

  <a href="github.com/catiecook/giffabet-api" target="blank">
    github
  </a>
</footer>
