<div class="container">
  <h1>
    Giffabet
  </h1>
  <p>
    At the end of this web address, add forward slash (/) and any single letter (a-z) to see that letter's animation!
  </p>

  <footer>
    <p>
      Thanks for checking it out!
    </p>
    <p>
      For info on how to use this library, see the
      <a
        href="github.com/catiecook/giffabet-api"
        target="blank"
      >
        github
      </a>
        README file.
    </p>
  </footer>
</div>
