<div class="container">
  <h1>
    Giffabet
  </h1>
  <section class='letters--json'>
    <h3>
      To get .json data:
    </h3>
    <p>
      Format your web address like this: <br>
      'https://giffabet.herokuapp.com<strong>/a</strong>
    </p>
  </section>
  <section class="letters--view">
    <h3>
      To see the letters in action:
    </h3>
    <p>
      Format your web address like this: <br>
      'https://giffabet.herokuapp.com<strong>/view/a</strong>
    </p>
  </section>
  <footer>
    <h3>
      Thanks for checking it out!
    </h3>
    <p>
      For info on how to use this library, see the
      <a
        href="github.com/catiecook/giffabet-api"
        target="blank"
      >
        github
      </a>
        README file.
    </p>
  </footer>
</div>
